// Define custom teal color
$custom-teal: #0c786c;
$custom-teal-light: #16e5cd;

.bg-teal {
  background-color: $custom-teal !important;
}

.bg-primary-teal {
  background-image: linear-gradient(180deg, $custom-teal 0%, #044e15 100%);
}

.bg-info-teal {
  background-image: linear-gradient(180deg, #22a05b 0%, $custom-teal-light 100%);
}
